.sideNavOpen {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 999;
}

@media (max-width: 768px) {
    .sideNavOpen {
        top: 0;
        right: 0;
        width: 100%;
        z-index: 999;
        overflow-x: hidden;
        position: fixed;
        margin: 0;
        padding: 0;
    }
}